.back_link {
  display: inline-block;

  margin-top: 8px;
  margin-bottom: 8px;
  padding: 4px;

  color: white;
  background-color: #646cff;
  border-radius: 4px;
}

.film_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;

  padding-bottom: 8px;

  border-bottom: 1px solid grey;
}

.imgWrapper {
  max-width: 450px;
}

.info_part {
  max-width: 400px;
}

.add_title {
  padding-top: 8px;
}

.addition {
  padding-bottom: 8px;
  border-bottom: 1px solid darkgrey;
}
