.container {
  display: flex;
  gap: 12px;
  justify-content: center;

  padding: 0;

  list-style: none;
}

.link {
  padding-bottom: 5px;

  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 24px;
}

.active {
  text-decoration: underline;
  color: rgb(191, 230, 65);
}

.navigator {
  padding-bottom: 8px;

  border-bottom: 1px solid black;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.5);
}
